# dependencies
node_modules
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/build
/.env*
!/.env.example

# IDE
/.settings
/.project
/.idea
!/.vscode
*.sublime-project
*.sublime-workspace

# default coverage directory
/coverage

#*
*$
*.BAK
*.bak
*.log
*.old
*~
.#*
.DS_Store
